body {
  color: #404040;
  font: 500 18px/24px 'Helvetica Neue', Helvetica, Arial, Sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* The page is split between map and sidebar - map gets 2/3 of the page,
the sidebar gets 1/3. */
.map {
  position: absolute;
  width: 72.5%;
  top: 0;
  bottom: 0;
}

.sidebar {
  border-left: 1px solid #fff;
  position: absolute;
  left: 72.5%;
  width: 27.5%;
  height: 100%;
  overflow: hidden;
  top: 0;
  bottom: 0;
}

pad2 {
  padding: 20px;
}

h1 {
  font-size: 22px;
  margin: 0;
  font-weight: 400;
  line-height: 20px;
  padding: 20px 2px;
}

a {
  color: #404040;
  text-decoration: none;
}

a:hover {
  color: #101010;
}

.heading {
  background: #fff;
  border-bottom: 1px solid #eee;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
}

.listings {
  height: 100%;
  overflow: auto;
  padding-bottom: 60px;
}

.listings .item {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 10px;
  text-decoration: none;
}

.listings .item:last-child { border-bottom: none; }

.listings .item .title {
  display: block;
  color: #000000dd;
  font-weight: 700;
}

.listings .item .title small { font-weight: 400; }

.listings .item.active .title,
.listings .item .title:hover { color: #232314d7; }

.listings .item.active {
  background-color: #fffffff4;
  border-bottom: 1px solid rgb(39, 39, 39);
  border-top: 1px solid rgb(39, 39, 39);
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 0;
}

.clearfix { display: block; }

.clearfix::after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Marker tweaks */

.leaflet-marker-icon {
  cursor: pointer;
}

.details {
  display: none;
}

.listings .item.active .details {
  display: block;
}

.curren {
  font-size: 2rem;
  vertical-align: baseline;
}